.form{
    text-align: center;
}
.formAddbtn{
    display: block;
    margin: auto;
    color:white;
    background: #8dbdff;
}
.formAdd{
    margin-bottom: 10px;
}
.addText{
    font-size: 18px;
    font-weight: 650;
}