.article-item{
    padding: 20px 40px 30px 40px;
    box-shadow: 0 5px 0 #3C93D5;
    margin: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 1px solid #3C93D5;
    margin-top: 30px;
    min-width: 500px;
    width: 500px;
}
.title{
    font-size: 20px;
    font-weight: 550;
    color: black;
}
.text{
    font-size: 16px;
    font-weight: 550;
    color: black;
}